<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bootstrap Admin Theme v3</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<!-- styles -->
<link href="css/styles.css" rel="stylesheet" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Logo -->
					<div class="logo">
						<h1>
							<a href="/">OBP API demo app</a>
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-content">
		<div class="row">
			<div class="col-md-2">
				<div class="sidebar content-box" style="display: block;">
					<ul class="nav">
						<li class="submenu"><a href="#"> <i
								class="glyphicon glyphicon-list"></i> Home <span
								class="caret pull-right"></span>
						</a> <!-- Sub menu -->
							<ul>
								<li><a th:href="@{/accounts}">Accounts</a></li>
								<li><a th:href="@{/transactions}">Transactions</a></li>
							</ul></li>
					</ul>
				</div>
			</div>

			<div class="col-md-10">
				<div class="content-box-large">
					<div class="panel-heading">
						<div class="panel-title">Accounts</div>
					</div>
					<div class="panel-body">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Account Id</th>									
									<th>Bank Id</th>
									<th>Label</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
						      <tr th:each="account,iterationStatus  : ${accounts}">
						      	<td th:text="${iterationStatus.count}">1</td>
						        <td th:text="${account.id}">savings-kids-john</td>
						        <td th:text="${account.bankId}">rbs</td>
						        <td th:text="${account.label}">Savings - Kids John</td>
						        <td>
						        	<a th:href="@{${account.links.detail.href}}">
										<i class="glyphicon glyphicon-pencil"></i>
									</a>
						        </td>
						      </tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="js/custom.js"></script>
</body>
</html>